<div class="alert alert-danger mt-3" role="alert">
    {{message}}. Kontaktujte administrátora, případně zopakujte akci, nebo pokračujte na <a href="./employeeList.php">seznam zaměstnanců</a>.
</div>