{{#create}}<h1>Upravit heslo</h1>{{/create}}


<form method="post">
    <div class="mb-3">
        <label for="password">Nové heslo</label>
        <input type="text" name="password" id="password" value="{{employee.surname}}" required class="form-control">
    </div>

    <div class="mb-3">
        {{#update}}
            <input type="hidden" name="action" value="update">
            <input type="hidden" name="{{employee.getPrimaryKeyName}}" value="{{employee.getPrimaryKey}}">
            <input type="submit" value="Upravit" class="btn btn-primary">
        {{/update}}
    </div>
</form>