{{# employee}}
    <h1>Karta osoby: {{ name }} {{ surname }}</h1>
    <dl class='dl-horizontal'>
        <dt>Jméno</dt>
        <dd>{{name}}</dd>
        <dt>Příjmení</dt>
        <dd>{{surname}}</dd>
        <dt>Pozice</dt>
        <dd>{{job}}</dd>
        <dt>Mzda</dt>
        <dd>{{wage}}</dd>
        <dt>Domovská místnost</dt>
        <dd><a href="{{ roomDetail }}?roomId={{ room_id }}">{{r_name}}</a></dd>
        <dt>Klíče</dt>
        {{# keys}}
            <dd><a href="{{ roomDetail }}?roomId={{ room_id }}">{{name}}</a></dd>
        {{/keys}}

    </dl>
{{/employee}}
{{#employee_id}}
    <a href="../keys/updateKeys.php?employeeId={{ employee_id }}&update=1" class="btn btn-primary">Přidat klíč</a>
{{/employee_id}}
{{#employee_id}}
    <a href="../keys/updateKeys.php?employeeId={{ employee_id }}&update=0" class="btn btn-primary">Smazat klíč</a>
{{/employee_id}}
<p><a href='../employees/employeeList.php'><span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> Zpět na seznam zaměstnanců</a></p>