<h1>Přihlášení uživatele</h1>

<form method="post">
    <div class="mb-3">
        <label for="username">Přihlašovací jméno</label>
        <input type="text" name="username" id="username" required class="form-control">
    </div>
    <div class="mb-3">
        <label for="password">Přihlašovací jméno</label>
        <input type="text" name="password" id="password" required class="form-control">
    </div>
    <div class="mb-3">
            <input type="hidden" name="action" value="login">
            <input type="submit" value="Přihásit se" class="btn btn-primary">
    </div>
</form>